 * {
margin: 0;
        padding: 0;
    }
  
  body {
       font-size: 100%;
       margin: 15px;
       background: #666;
       color: #fff;
   }

   #controls .delete-note {
       width: 28px;
       height: 30px;
       background: rgba(0, 0, 0, 0);
   }
  
  ul, li {
       list-style: none;
   }
  
   ul {
       overflow: hidden;
       padding: 15px;
   }
  
   ul li {
       margin: 15px;
       float: left;
       position: relative;
   }
  
   ul li div {
       text-decoration: none;
       color: #000;
       background: #ffc;
       display: block;
       height: 430px;
       width: 300px;
       padding: 10px;
     border-style: solid;
   }
  
   ul li div .delete-note {
       padding: 1px 3px;
       margin: 10px;
       position: absolute;
        width: 20px;
       height: 40px;
   }
  
   ul li textarea {
       font-family: 'Chewy', arial, sans-serif;
       background: rgba(0, 0, 0, 0); /* transparent background */
       resize: none;
       padding: 3px;
       border-style: none;
   }
  
   .note-title {
       font-size: 140%;
       font-weight: bold;
       height: 50px;
       width: 80%;
   }
  
   .note-content {
       font-size:120%;
       height: 140px;
       width: 80%;
   }
  
   
 
  
